notifications:
  email: false

language: node_js

node_js:
  - '0.10'
  - '0.11'
  - '0.12'
  - 'iojs'

script:
  - npm run build

after_success:
  - npm i coveralls
  - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
